$toolbar-spacer: 1 1 auto;
$toolbar-height: 64px;
$toolbar-color: #126cc7;

.fixed-toolbar{
  position: fixed;
  height: $toolbar-height;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.toolbar-spacer{
  flex: $toolbar-spacer;
}

.mat-toolbar {
  color: whitesmoke;
  background-color: $toolbar-color;
  font-weight: 500;
  font-size: 18px;
}

.translator-button{
  display: inline-flex;
  align-items: center;
}

.translator-button mat-icon {
  margin-left: 4px;
  vertical-align: middle;
}

.sidenav {
  width: 280px;
  background-color: #f5f5f5;
  padding: 1rem;
}

.mat-nav-list a.nav-list-item {
  padding: 1rem;
  margin: 0.5rem 0;
  color: #333;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

ng-container a{
  margin-right: 2%;
}

.mat-nav-list a.nav-list-item:hover {
  background-color: #e0e0e0;
  color: $toolbar-color;
}

.mat-divider {
  margin: 1rem 0;
}

.mat-sidenav-content {
  background-color: #fafafa;
}

.logo {
  height: 40px; /* Adjust the height to fit the toolbar */
  margin-right: 16px; /* Add space between logo and title */
  vertical-align: middle; /* Aligns the logo with the text */
}

mat-sidenav-content, mat-toolbar, .mat-toolbar, .fixed-toolbar{
  position: static !important;
}