<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASL Recognition</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="camera-view.component.scss">
</head>
<body>
    <div class="camera-container">
      <h1 id="heading">ASL Recognition</h1>
        <video id="videoElement" autoplay></video>
        <h3 id="predictedLetter">Predicted ASL Letter: {{ prediction }}</h3>
        <button (click)="stopCamera()">Stop Camera and Go Back</button>
    </div>
</body>
</html>
